# vim
*.swp
*.swo

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# Build
vendor/
build/
dist/
.direnv

# OS
.DS_Store

# Temporary
run/pids/
run/logs/
*.log
.tmp
.rakeTasks

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# State bucket state - remove this
state/*